@model DetailCourseViewModel

@{
	ViewData["Title"] = "Details";
	var count = 0;
}

<div>
	<div>
		<a asp-controller="Module" asp-action="Apply" asp-route-id="@Model.Id" class="btn btn-primary">Click here</a>
	</div>
	<div class="text-center mt-5 shadow-sm p-3 mb-5 text-white rounded" style="background-color: #563D7C">
		<h3>@Model.Name</h3>
		<span>Start date: @Model.StartDate</span>
	</div>
	<div class="mt-5 shadow p-3 mb-5 bg-white rounded">
		<div class="p-3">
			<h3>Lessons</h3>
		</div>
		<div class="container overflow-hidden">
			<div class="row gx-5 mb-3">
				@foreach (var lesson in Model.Lessons)
				{
					<div class="col-6">
						<a asp-controller="Lessons" asp-action="Details" asp-route-id="@lesson.Id" style="text-decoration: none;">
							<div class="p-2 mt-1 border" style="background-color: #f1f1f1">
								<span class="lesson-title">@(++count). @lesson.Title</span>
							</div>
						</a>
					</div>
				}
			</div>
		</div>
	</div>
	<div class="offset-md-2 col-sm col-md-8 mt-5 shadow p-3 bg-white rounded">
		<div>
			<h5>Description</h5>
		</div>
		<div>
			@Model.Description
		</div>
	</div>
</div>
