@model IEnumerable<AllCoursesViewModel>

@{
	ViewData["Title"] = "All courses";
}

<div class="row">
	@foreach (var course in @Model)
	{
		<a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id" style="text-decoration: none">
			<div class="card ml-3" style="width: 18rem;">
				<div>
					<img class="card-img-top h-100" src="@course.ImageURL" alt="@course.Name - @course.StartDate">
					<div class="course-body card-body">
						<h4 class="card-title" style="color: #234465">Course: @course.Name</h4>
						<hr>
						<div class="card-text">
							<span>
								@course.StartDate.ToString("d-MMMM yyyy", CultureInfo.InvariantCulture)
							</span>
							<span class="float-right">
								@course.Duration @(course.Duration > 1 ? "weeks" : "week")
							</span>
						</div>
					</div>
				</div>
			</div>
		</a>
	}
</div>