<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Student System</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/toastr/toastr.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Student System</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Create">Create Course</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Lessons" asp-action="Index">Lessons</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Lessons" asp-action="Create">Create Lesson</a>
						</li>
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - StudentSystem.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	<script type="text/javascript">
		document.querySelector('body').onload = function checkIfNotificationMessageIsGiven() {
			if ('@this.TempData[NotificationsConstants.SUCCESS_NOTIFICATION]') {
				toastr.success('@this.TempData[NotificationsConstants.SUCCESS_NOTIFICATION]');
			}
			if ('@this.TempData[NotificationsConstants.ERROR_NOTIFICATION]') {
				toastr.error('@this.TempData[NotificationsConstants.ERROR_NOTIFICATION]');
			}
			if ('@this.TempData[NotificationsConstants.WARNING_NOTIFICATION]') {
				toastr.warning('@this.TempData[NotificationsConstants.WARNING_NOTIFICATION]');
			}
			if ('@this.TempData[NotificationsConstants.INFO_NNOTIFICATION]') {
				toastr.info('@this.TempData[NotificationsConstants.INFO_NNOTIFICATION]');
			}
		};
	</script>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/toastr/toastr.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
