@model PageLessonViewModel

@{
	ViewData["Title"] = "Lessons";
	var dataForPartial = ViewData["Title"].ToString().ToLower();
}

<div class="container">
	<div class="mt-5 border-bottom pb-2">
		<form id="form_id" method="get">
			<div class="d-flex justify-content-between align-items-center">
				<div>
					<select asp-for="Filters" class="selectpicker" data-live-search="true">
						@foreach (var course in Model.Courses)
						{
							<option value="@course.Id" data-tokens=@course.Name>@course.Name</option>
						}
					</select>
					<button class="btn btn-primary">Submit</button>
				</div>
				<div>
					<a class="btn btn-primary" asp-controller="Lessons" asp-action="Create">Create new lesson</a>
				</div>
			</div>
		</form>
	</div>
	@if (Model.Lessons.Any())
	{
		<div>
			<partial name="_ListEntitiesPartial" model="@Model.Lessons">
		</div>
		<div>
			<partial name="_PagingPartial" model="@Model">
		</div>
	}
	else
	{
		<div>
			<partial name="_NoAvailableEntitiesPartial" model="@dataForPartial">
        </div>
	}
</div>