@using StudentSystem.ViewModels.Home

@model StudentInformationViewModel
@{
	ViewData["Title"] = "Home";

	var isValid = this.User.IsInRole(GlobalConstants.STUDENT_ROLE);
}

<div class="container mt-5">
	@if (isValid)
	{
		<div class="row">
			<div class="col-md-4 mt-2">
				<div class="border rounded" style="height: 350px">
					<div class="p-3 text-center text-uppercase" style="background-color: #ECEAF0">
						<h5>My Courses</h5>
					</div>
					<div class="h-75 p-3" style="overflow-y: auto">
						@foreach (var course in Model.Courses)
						{
							<div>
								<a style="color: #565656; font-size: 18px" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">
									@course.Name
								</a>
								<hr>
							</div>
						}
					</div>
				</div>
			</div>
			<div class="col-md-4 mt-2">
				<div class="border rounded" style="height: 350px">
					<div class="p-3 text-center text-uppercase" style="background-color: #ECEAF0">
						<h5>My schedule</h5>
					</div>
					<div class="h-75 p-3" style="overflow-y: auto">
						@foreach (var lesson in Model.Lessons)
						{
							<div>
								<a style="color: #565656; font-size: 18px" asp-controller="Lessons" asp-action="Details" asp-route-id="@lesson.Id">
									@lesson.Title
								</a>
							</div>
							<div>
								@lesson.CourseName
							</div>
							<span style="font-size: 15px">
								@{
									var beginingDateToString = @lesson.Begining.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture);
									var startingTimeAsString = @lesson.Begining.ToString("HH:mm");
									var endTimeAsString = @lesson.End.ToString("HH:mm"); 
								}
								@beginingDateToString from @startingTimeAsString - @endTimeAsString
							</span>
							<hr />
						}
				</div>
			</div>
		</div>
		<div class="col-md-4 mt-2">
			<div class="border rounded" style="height: 350px">
				<div class="p-3 text-center text-uppercase" style="background-color: #ECEAF0">
					<h5>My Resources</h5>
				</div>
				<div class="h-75 p-3" style="overflow-y: auto"></div>
			</div>
		</div>
	</div>
	}
	else
	{
		<span>Hi</span>
	}
</div>
